# 바이너리 전부 diff 금지
*.png  -diff -text binary
*.jpg  -diff -text binary
*.jpeg -diff -text binary
*.gif  -diff -text binary
*.pdf  -diff -text binary
*.zip  -diff -text binary
*.7z   -diff -text binary
*.gz   -diff -text binary
*.mp4  -diff -text binary
*.mov  -diff -text binary
*.psd  -diff -text binary
*.ai   -diff -text binary
*.jar  -diff -text binary
*.aar  -diff -text binary
*.apk  -diff -text binary
*.aab  -diff -text binary
*.so   -diff -text binary
*.dex  -diff -text binary
*.class -diff -text binary
*.keystore -diff -text binary
*.jks  -diff -text binary
