*.[Jj][Aa][Rr]  -diff -text binary
*.[Pp][Nn][Gg]  -diff -text binary
*.[Jj][Pp][Gg]  -diff -text binary
*.[Jj][Pp][Ee][Gg] -diff -text binary
*.[Gg][Ii][Ff]  -diff -text binary
*.[Zz][Ii][Pp]  -diff -text binary
*.[Aa][Aa][Rr]  -diff -text binary
*.[Aa][Pp][Kk]  -diff -text binary
*.[Aa][Aa][Bb]  -diff -text binary
*.[Ss][Oo]      -diff -text binary
*.[Dd][Ee][Xx]  -diff -text binary
*.[Cc][Ll][Aa][Ss][Ss] -diff -text binary
*.[Pp][Dd][Ff]  -diff -text binary
